<center>
    <form method="post">
        <label>User Name:</label>
        <input type="text" name="userName" value="@ViewBag.userName"><br><br>
        <label>Product Name:</label>
        <input type="text" name="productName" value="@ViewBag.productName"><br><br>
        <label>Price:</label>
        <input type="text" name="price" value="@ViewBag.price"><br><br>
        <label>Count:</label>
        <input type="text" name="count" value="@ViewBag.count"><br><br>
        <label>Total:</label>
        <input type="text" value="@ViewBag.total"><br><br>
        <input type="submit" value="Back">
    </form>
</center>